{% extends 'formacaos/formacao_base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Olá :){% endtrans %}  </h1>
                <a href="{{ new_path }}" class="btn btn-success">{% trans %}Criar nova Formação{% endtrans %}</a>
                <hr/>
                <h2>{% trans %}Lista de Formações{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th/>
                        <th>{% trans %}Id{% endtrans %}</th>
                        <th>{% trans %}Creation{% endtrans %}</th>
                        <th>{% trans %}Nome{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formacao in formacaos %}
                        <tr>
                            <td><a href="{{ formacao.edit_path }}" class="btn btn-success btn-sm"><i
                                    class="glyphicon glyphicon-pencil"></i></a></td>
                            <td>{{ formacao.id }}</td>
                            <td>{{ formacao.creation }}</td>
                            <td>{{ formacao.nome }}</td>
                            <td>
                                <form action="{{ formacao.delete_path }}" method="post" onsubmit="return confirm('{{_('Are you sure to delete? Press cancel to avoid deletion.')}}');">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger btn-sm"><i
                                            class="glyphicon glyphicon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}