{% extends 'base/base.html' %}
{% block menu %}
{{ banana('sobre') }}
{% endblock %}
{% block body %}

<div class="row clearfix">
		<div class="col-md-6 column">
			<img alt="140x140" src="../static/img/engrenagem1.png" />
		</div>
		<div class="col-md-6 column">
			<h3 class = "text-info">
				Sobre N&oacute;s
			</h3>
			<p>
				A Naguil Manutenção possui uma vasta experiência de 40 anos no mercado, atuando no segmento de usinagem, manutenção de equipamentos em geral e transformação de metal. Prestamos serviços para grandes empresas como:
				<ul>
				<li>
					Heineken
				</li>
				<li>
					Ambev
				</li>
				<li>
					ITA
				</li>
				<li>
					Portban
				</li>
				<li>
					Engeseg
				</li>

			</ul>
			</p>

		</div>
	</div>
</div>
{% endblock %}