{% extends 'base/base.html' %}
{% block menu %}
{{ banana('portfolio') }}
{% endblock %}
{% block body %}

<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="media">
				 <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading text-info">
						Projeto Ambev
					</h4> Fabricação e montagem de equipamento que atua como uma "mini cervejaria" para treinamento de funcionários.
					<div class="media">
						 <a class="example-image-link" href="../static/img/barril.jpg" data-lightbox="example-1"><img class="example-image" src="../static/img/barril.jpg" alt="image-1" width = "90" height= "90"/></a>
						 <a class="example-image-link" href="../static/img/agitador.jpg" data-lightbox="example-1"><img class="example-image" src="../static/img/agitador.jpg" alt="image-1" width = "90" height= "90"/></a>
						 <a class="example-image-link" href="../static/img/sistema-filtro.jpg" data-lightbox="example-1"><img class="example-image" src="../static/img/sistema-filtro.jpg" alt="image-1" width = "90" height= "90"/></a>

						<!-- <div class="media-body">
							<h4 class="media-heading">
								Nested media heading
							</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						</div> -->
					</div>
				</div>
			</div>
			<div class="media">
				 <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading text-info">
						Projeto Portban
					</h4> Peças que compõem o banheiro químico.
					<div class="media">
						 <a class="example-image-link" href="../static/img/portban/01.jpg" data-lightbox="example-1"><img class="example-image" src="../static/img/portban/01.jpg" alt="image-1" width = "90" height= "90"/></a>
						 <a class="example-image-link" href="../static/img/portban/02.jpg" data-lightbox="example-1"><img class="example-image" src="../static/img/portban/02.jpg" alt="image-1" width = "90" height= "90"/></a>
						 <a class="example-image-link" href="../static/img/portban/03.jpg" data-lightbox="example-1"><img class="example-image" src="../static/img/portban/03.jpg" alt="image-1" width = "90" height= "90"/></a>
						 <a class="example-image-link" href="../static/img/portban/09.jpg" data-lightbox="example-1"><img class="example-image" src="../static/img/portban/09.jpg" alt="image-1" width = "90" height= "90"/></a>
						<!-- <div class="media-body">
							<h4 class="media-heading">
								Nested media heading
							</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}